*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;

    
}
body{
    background-color:#191d2b; 
    color:#27AE60;
    padding:0;
    margin:0;
}
.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5,100px);
    gap: 0;
}
.grid-container>button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    color:#27AE60;
}
.grid-container> button:hover{
    background-color: rgba(255, 255, 255, .9);

}
.ac-button{
    grid-column: span 2;
}
.screen{
    background-color:#27AE60;
    grid-column: 1 / -1;
    display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
 
  word-wrap: break-word;
  word-break: break-all;
}
.screen .previous-output {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .screen .current-output {
    color: white;
    font-size: 2.5rem;
  }